.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;      
}

.home-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.home-hero {
    width: 100%;
    max-height: 400px;      
    overflow: hidden;
    display: flex;
    align-items: center;     
    justify-content: center; 
  }
  
  .home-hero img {
    max-height: 400px; 
    justify-content: center; 
    
  }
  

.home-content {
    font-size: 1.2rem;
    width: 400px;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.home-label {
    font-size: 1rem;
    color: #999;
    margin-bottom: 10px;
}

.home-select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}